<mat-toolbar fxLayoutGap="15px" color="primary">
  <span class="link" routerLink="/"> Mon Logo </span>
  <input type="text" fxFlex="auto" (keyup)="applyFilter($event.target.value)" />
  <span *ngIf="!(isLoggedIn$ | async)" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
    <span class="link" routerLink="/signin">Connexion</span>
    <span class="link" routerLink="/signup">Inscription</span>
  </span>
  <span *ngIf="(isLoggedIn$ | async)" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
    <span class="link" routerLink="/profile">Profile</span>
    <mat-icon  class="link" (click)="logout()">power_settings_new</mat-icon>
  </span>
</mat-toolbar>